/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar_custom { background: #06F; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { background-color: #fff; }
.block { padding: 5% 10px 2%; display: inline-block; border: 1px solid #ccc; background-color: #ecf0f1; }
.block_inner_1 ul { display: table; margin: 20px auto; }
.block_inner_1 ul .form-group { margin-bottom: 0px; }
.ad_image{margin: 10px auto;display: table;}
.block_inner_2 ul li { padding: 10px 0px; }
.col-condensed { padding-left: 0px; padding-right: 0px; }

footer{    background: #444444;    padding: 25px;}
footer ul{
        display: table;
    margin: 5px auto!important;
}
footer ul li a{color: #fff;}
footer ul li{

    border-right: 1px solid #fff;}
footer ul li:last-child{
    border: none;
}